{{#if errorMessage}}
    <div class="alert alert-danger">
        {{errorMessage}}
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    </div>
{{/if}}

{{#if successMessage}}
	<div class="alert alert-success">
		{{successMessage}}
		<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
	</div>
{{/if}}

{{#if infoMessage}}
	<div class="alert alert-info">
		{{infoMessage}}
		<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
	</div>
{{/if}}