<ul class="week-list">
	{{#each weekData.past}}
		<li class="{{#ifEqual this ../weekData.active}}active{{/ifEqual}}"> <a href="/{{../weekData.root}}/week-{{this}}/">Week {{this}} </a> </li>
	{{/each}}
	<li class="{{#ifEqual weekData.current weekData.active}}active{{/ifEqual}}"> <a href="/{{weekData.root}}/">This Week </a> </li>
</ul>