{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/">Dashboard </a></li>
        <li class="active"><a href="/users/account/">Account <span class="sr-only">(current)</span></a></li>
        <li><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}

<header class="page-header">
    <h3>Your Account Details</h3>
    <p class="intro-explainer">Edit and update your personal info</p>
</header>

{{>flash}}

<form method="POST" action="/users/account/" class="form-horizontal">

    <div class="form-group">

        <h4>General:</h4>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="email">Email</label>
            </div>

            <div class="col-md-4">
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" value="{{user.email}}" required autofocus>
            </div>
        </section>


        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="familyName">Family Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="familyName" name="family_name" class="form-control" placeholder="Family Name" value="{{user.family_name}}" required>
            </div>
        </section>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="activationDate">Activation Date</label>
            </div>
            <div class="col-md-4">
                <input type="date" id="activationDate" name="activation_date" class="form-control" placeholder="Project Start Date" value="{{#formatDate user.activation_date 'YYYY-MM-DD'}}{{/formatDate}}">
            </div>
        </section>

    </div>



    <div class="form-group">
        <h4>Child:</h4>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="childsName">Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="childsName" name="child_name" class="form-control" placeholder="Name" value="{{user.child_name}}" required>
            </div>
        </section>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="childDob">Date of Birth</label>
            </div>
            <div class="col-md-4">
                <input type="date" id="childDob" name="child_dob" class="form-control" placeholder="Child's Date of Birth" value="{{user.child_dob_string}}">
            </div>
        </section>
    </div>

    <div class="form-group">
        <h4>Mother:</h4>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="mothersName">Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="mothersName" name="mothers_name" class="form-control" placeholder="Name" value="{{user.mothers_name}}" >
            </div>
        </section>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="mothersContactNo">Contact Number</label>
            </div>
            <div class="col-md-4">
                <input type="number" id="mothersContactNo" name="mothers_contact_no" class="form-control" placeholder="Contact Number" value="0{{user.mothers_contact_no}}">
            </div>
        </section>

        <!-- work status -->

    </div>


    <div class="form-group">

        <h4>Father:</h4>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="fathersName">Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="fathersName" name="fathers_name" class="form-control" placeholder="Name" value="{{user.fathers_name}}" >
            </div>
        </section>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="fathersContactNo">Contact Number</label>
            </div>
            <div class="col-md-4">
                <input type="number" id="fathersContactNo" name="fathers_contact_no" class="form-control" placeholder="Contact Number" value="0{{user.fathers_contact_no}}">
            </div>
        </section>

        <!-- work status -->
    </div>


    <div class="form-group">

        <h4>Devices:</h4>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="phoneType1">Phone Type 1</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="phoneType1" name="phone_model_1" class="form-control" placeholder="Phone Type" value="{{user.phone_model_1}}">
            </div>
        </section>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="phoneType1">Phone Type 2</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="phoneType2" name="phone_model_2" class="form-control" placeholder="Phone Type" value="{{user.phone_model_2}}" >
            </div>
        </section>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="tabletType2">Tablet Type 1</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="tabletType1" name="tablet_model_1" class="form-control" placeholder="Tablet Type"  value="{{user.tablet_model_1}}">
            </div>
        </section>

        <section class="accountItem">
            <div class="col-md-2 text-right">
                <label for="tabletType2">Tablet Type 2</label>
            </div>
            <div class="col-md-4">
                <input type="text" id="tabletType2" name="tablet_model_2" class="form-control" placeholder="Tablet Type" value="{{user.tablet_model_2}}">
            </div>
        </section>

    </div>

    <button class="btn btn-primary" type="submit">Update</button>
</form>
