{{#section 'head'}}
	<link type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css' />
	 <style type='text/css'>
		.chart{
			height:400px;
		}

	</style>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>

{{/section}}

{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/dashboard/">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="/users/account/">Account</a></li>
        <li><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}


<header class="page-header">
	<h3>Dashboard </h3>
	<p class="intro-explainer">See how many words you spoke this week</p>
</header>

{{>flash}}




<div class="col-md-9 chart-wrapper">	
	<h4>Word Counts</h4>
	{{#if counts}}
		<div id="line-chart"></div>
	{{else}}
		<div class="panel panel-warning no-recordings">
		    <div class="panel-heading">You have no recordings uploaded for this week</div>
		</div>
	{{/if}}
</div>
<div class="col-md-3">
	{{>weeks_list}}
</div>

{{#if counts}}
	<div class="col-md-9 chart-wrapper">
		<h4>Top Ten Words</h4>
		<div id="pie-chart"></div>
	</div>
{{/if}}

{{#if counts}}
	<div class="col-md-9 table-wrapper">
		<h4>Daily Breakdown</h4>
		<table class="table table-bordered daily-breakdown"> 
			<thead> 
				<tr> 
					<th> </th> 
					<th class='text-center'>Recording Time</th> 
					<th class='text-center'>Total Words</th> 
					<th class='text-center'>Words Per Hour *</th> 
					<th class='text-center'>Words Per Day **</th>
				</tr> 
			</thead> 
			<tbody> 
				{{#each data}}
					<tr> 
						<th scope="row">{{#formatDate this.date 'dddd'}}{{/formatDate}}</th> 
						<td  class='text-center'>{{#formatDuration this.total_rec_time 'hours'}}{{/formatDuration}}:{{#formatDuration this.total_rec_time 'minutes'}}{{/formatDuration}}</td> 
						<td  class='text-center'>{{this.word_count}}</td> 
						<td  class='text-center'>{{this.avg_words_per_hour}}</td> 
						<td  class='text-center'>{{#multiply this.avg_words_per_hour 14}} {{/multiply}}</td>
					</tr> 
				{{/each}}
			</tbody> 
			<tfoot>
				<tr>
					<td colspan='5'>
						* Expected Average is 2,153 words per hour <br />
						** Estimate based on a 14-hour waking day. Expected 30,000 
					</td>
				<tr>
			</tfoot>
		</table>
	</div>
{{/if}}
	



{{#section 'footer_scripts'}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>

	{{#if counts}}
		<script>
			
			var lineChart = c3.generate({
			    bindto: '#line-chart',
			    data: {
			        x: 'x',
			        columns: {{{c3Columns}}}
			    },
			    axis: {
			    	x: {
			            type: 'timeseries',
			            tick: {
			                format: function(d){return moment(d).format('ddd Do');}
			            }
			        },
					y: {
						label: {
							text: 'Words',
							position: 'outer-middle'
						}
					}
			    }
			});

			var pieChart = c3.generate({
				bindto: '#pie-chart',
			    data: {
			        columns: {{{ttw}}},
			        type : 'pie',
			        //onclick: function (d, i) { console.log("onclick", d, i); },
			        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
			        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
			    }
			});

			
		</script>

	{{/if}}

{{/section}}


