{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard">Dashboard </a></li>
        <li><a href="/users/account/">Account</a></li>
        <li><a href="/programme/">Programme</a></li>
        <li class="active"><a href="/feedback/">Feedback <span class="sr-only">(current)</span></a></li>
    </ul>
{{/section}}

<header class="page-header">
	<h3>Feedback</h3>
	<p class="intro-explainer">Your experience is key to our service. Let us know what you think</p>
</header>

<div class="col-md-9">	
	<form method="POST" action="/feedback/" class="form">
		
		{{>flash}}

		<div class="form-group">
			<label for="comment">Comments:</label>
	  		<textarea class="form-control" rows="5" id="comment" name='comment'></textarea>
		</div>

		<button class="btn btn-primary" type="submit">Send</button>
	</form>

	<!-- {{#each previous_comments}}

		{{#if this.comments}}
			<div>
				<time>{{#formatDate this.createdAt}}{{/formatDate}}</time>
				<p class='bg-info'>{{this.comments}}</p>
			</div>
		{{/if}}

	{{/each}} -->
</div>