{{#section 'title'}} Log In | Talk to Me More {{/section}}

{{#section 'head'}}
    <link rel="stylesheet" href="/public/styles/auth.css">
{{/section}}

<div class="container">
  <form method="POST" action="/users/login/" class="form-signin">
    <h2 class="form-signin-heading">Please log in</h2> 
    
    {{>flash}}
    
    <label for="inputUsername" class="sr-only">Email</label> 
    <input type="text" id="inputUsername" name="email" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

    <p class='sign-or-log'> No Account? Register <a href='/users/signup/'>here</a></p>
  </form>
</div>