{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/">Dashboard </a></li>
        <li><a href="/users/account/">Account <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}

<header class="page-header">
	<h3>Week {{weekData.active}}  - Heading Goes here</h3>
	<p class="intro-explainer">Brief introduction goes here</p>
</header>




<div class="col-md-9 body-wrapper">	

	<p class="body-text"> paragraph</p>

	<p class="body-text"> paragraph </p>

	<p class="body-text">paragraph</p>

	<p class="body-text">paragraph</p>

</div>

<div class="col-md-3">
	{{>weeks_list}}
</div>