{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/">Dashboard </a></li>
        <li><a href="/users/account/">Account <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}

<header class="page-header">
	<h3>No Programme Available</h3>
	<p class="intro-explainer">Sorry, there is no programme data available for this week yet</p>
</header>




<div class="col-md-9 body-wrapper">	


</div>

<div class="col-md-3">
	{{>weeks_list}}
</div>