{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/">Dashboard </a></li>
        <li><a href="/users/account/">Account <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}

<header class="page-header">
	<h3>Week {{weekData.active}}  - Tips For Talking</h3>
	<p class="intro-explainer">Here are some more ideas on interacting with your child. By now you are aware of the importance of the amount of words your child is exposed to.  But how we talk to children is hugely important in language learning!  The following are some TIPS on TALKING to get started with.  They sound simple but make a HUGE difference to the quality of interactions between parent and child!  We’ll be sending out some more detail on then as the weeks go on!</p>
</header>




<div class="col-md-9 body-wrapper">	

	<p class="body-text">For very young children learning language, the following are just as important as spoken words:
<li>Facial Expression</li>
<li>Tone of Voice</li>
<li>Body Language</li></p>

	<p class="body-text"> These are central to helping children learn the meaning of sounds, words and phrases and the back and forth of interaction. 
<li><strong>Be face-to-face!</strong><br>  This is more important than you might think.  Getting down on the floor at your childs level facilitates eye contact, a sense of connection and helps you to ‘tune in’ to your child.<br></li><br>
<li><strong>WAIT!</strong><br> Yes it’s important for a child to hear lots of words but it is hugely important to have a nice slow pace and plenty of pauses for the child to take a turn in an interaction.  Even small babies do this by smiling or stilling. So make sure you WAIT and Tune In to your child.<br></li><br>
<li><strong>Use short simple, grammatically correct sentences</strong> <br>  Research has shown that this is more beneficial than telegraphic type speech such as ‘mammy car’.  Stress key words in a short sentence but its ok to include the ‘little words’.<br></li><br>
</p>

</div>

<div class="col-md-3">
	{{>weeks_list}}
</div>