{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/">Dashboard </a></li>
        <li><a href="/users/account/">Account <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}

<header class="page-header">
	<h3>Week {{weekData.active}}  - Music and Language Development</h3>
	<p class="intro-explainer">Here are some simple tips from Hanen.org to help make singing a way to promote communication and social skills</p>
</header>




<div class="col-md-9 body-wrapper">	

	<p class="body-text"> 
<strong>Be face to face –</strong> This allows your child to make eye contact with you, and learn from your facial expression, actions, and words.
<br><br>
<strong>Sing slowly – </strong> This helps your child hear the words and learn the actions.
<br><br>
<strong>Pause and wait –</strong> Once you know how your child might participate during the song, you can help him to do so by pausing and waiting during key moments in the song. A good place to pause and wait is at the end of the line of music. You can pause before you say the last word and see if your child can fill it in. For example, when singing “Twinkle Twinkle Little Star”, you might pause before saying “are” (“how I wonder what you.....”). If you wait and look expectantly at your child, he may try to say “are”. If not, you can fill it in for him after you have waited a long time. Maybe he’ll try next time.   This is my favourite tip! You would be surprised about how your child will take a turn – even if it’s not a word- especially if the song is really familiar!
<br><br>
<strong>Help your toddler perform the actions in the song –</strong>  If he can’t do it on his own, help your child do the actions in a song. You can take your child’s hands and help him do an action. However, if your child resists this or doesn’t enjoy it, do the action yourself and let your child participate in his own way.
<br><br>
<strong>Repeat the song –</strong> Don’t be afraid to sing a song over and over again, if this is what your child wants. Young children often have favourite songs that they never tire of! This repetition helps them learn the lyrics and understand what the words mean.</p>

</div>

<div class="col-md-3">
	{{>weeks_list}}
</div>