{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/">Dashboard </a></li>
        <li><a href="/users/account/">Account <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}

<header class="page-header">
	<h3>Week {{weekData.active}}  - The HAND RULE</h3>
	<p class="intro-explainer"></p>
</header>




<div class="col-md-9 body-wrapper">	

<img src="/public/img/hand_rule.jpg" alt="Hand Rule" style="width:304px;height:228px;">

	<p class="body-text"> We have already learned about the importance of commenting on what your child is doing or what they are interested in at that moment. Questions can help to develop a child’s language and knowledge. But, we tend to ask too many questions. Sometimes, children who struggle to understand what is said to them are quiet. Their pauses then are often filled by adults asking questions!</p>

	<p class="body-text"> <strong>ASK FEWER QUESTIONS!</strong>  Remember the HAND RULE.  For every one question, use 4 comments.</p>

	<p class="body-text"><strong>Comment</strong> is when you say what is going on.<br>
<strong>Repetition</strong> is where you repeat what the child said.<br>
<strong>Expansion</strong> is where you repeat what the child said but ADD a word – e.g. if the child says ‘car’, you can say yes, ‘mammy’s car’.<br>
<strong>Explanation</strong> is where you explain what is happening.  ‘Daddy’s gone – daddy’s at work’.
</p>

<p class="body-text">
<h3>Week {{weekData.active}}  - The Parent Child Home Program</h3>
A beautiful video by showing the power of PCHP. They also run from locations in dublin ran by the Early Learning Iniatiave (https://www.ncirl.ie/ELI/Our-Programmes) who do some terrific work with inner city Dublin parents</p> <br>
<iframe width="420" height="345"
src="http://www.youtube.com/embed/ez2SVWs47mE">
</iframe>
<br>

</div>

<div class="col-md-3">
	{{>weeks_list}}
</div>