{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard/">Dashboard </a></li>
        <li><a href="/users/account/">Account <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/programme/">Programme</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}

<header class="page-header">
	<h3>Week {{weekData.active}}  - Listen and Repeat</h3>
	<p class="intro-explainer">Talk to your child on their level</p>
</header>




<div class="col-md-9 body-wrapper">	

	<p class="body-text">The best place to start is to take a step back and tune into yours child’s communication. During daily routines such as mealtimes and bath time, dressing and bedtime, give your child your full attention and start to notice exactly how your child is communicating</p>

	<p class="body-text">For young children who are not using words yet, really pay attention to how your child gets a message across – smiling, laughing, crying, turning their head away, gestures and pointing, sounds they are using.  Even before words, children can use tone of voice to let you know exactly how they feel about something!  Think about <strong><i>what</i></strong> they are trying to tell you and <strong><i>how</i></strong> they are telling you.  </p>

	<p class="body-text">For children who are using single words, or  putting words together, listen to the words they are using  - what kind of words are these?  Is it mostly name of objects, people, social words like ‘uh oh’ or ‘bye’?  Is it no! or the names of their favourite things or activity.  The more you tune into your child’s language, the more you can build on their understanding and use of words!</p>

	<p class="body-text">A great way of working on your child’s imitation skills and get a lovely interaction going is to imitate what the child is doing or saying. <strong><i>Repeat</i></strong> back what your child has said whether it’s a babble or word or little phrase. Copy their little gestures and actions – then <strong><i>listen and look</i></strong> for their response.  Remember that the child’s turn in the interaction bight be a gesture or facial expression!</p>

<p class="body-text">
<h3>Week {{weekData.active}}  - The Science of Early Childhood</h3>
From Center on the Developing Child at Harvard University, this short video addresses basic concepts of early childhood development, established over decades of neuroscience and behavioral research, which help illustrate why child development—particularly from birth to five years—is a foundation for a prosperous and sustainable society.</p> <br>
<iframe width="420" height="345"
src="http://www.youtube.com/embed/WO-CB2nsqTA">
</iframe>
<br>
</div>

<div class="col-md-3">
	{{>weeks_list}}
</div>