/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

p.intro-explainer {
    color: #777;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.user-dropdown{
  margin: 15px 20px;
}

a.dropdown-toggle{
  color: #9d9d9d;
  cursor: pointer;
}

a.dropdown-toggle:hover{
  color: #ffffff;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.body-wrapper{
  margin-top:15px;
}

p.body-text{
  font-size: 1.1em;
}

header.page-header{
  padding-left: 15px;
  margin-bottom: 0;
}

ul.week-list{
  padding-top: 15px;
  padding-left: 5px;
}

ul.week-list li{
  list-style-type: none;
    padding: 10px 0 10px 10px;
    font-size: 1.1em;
    border-bottom: 1px solid #eee;
}

ul.week-list li.active{
  background-color: #428BCA;
}

ul.week-list li.active a {
    color: #fff;
}

/*
 * User Account Settings Page
 */

section.accountItem{
    overflow: hidden;
    margin-bottom: 12px;
}

/*
 * Dashboard Page
 */

 .chart-wrapper{
  margin-top: 15px;
  margin-bottom: 15px;
 }

 .daily-breakdown tfoot td{
  background-color: #f5f5f5;
 }

